<form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <div class="row">
        <div class='row col-md-12'>
            <label>File</label>

            <div class="col-md-7">
                <input type="hidden" name="fileId" [value]="service.formData.fileId">  
                <input type="file" #file accept="image/*" 
                (change)="handleFileInput(file.files)" style="display:none">
                <input disabled class="form-control form-control-lg" 
                placeholder="File Name" name="fileName" 
                #fileName="ngModel" [(ngModel)]="service.formData.fileName" required>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-success selectedButton" (click)='file.click()'>Select File</button>
            </div>
        </div>
       <div class='col-md-12'>
        <div class="col-md-8">
            <span class='upload' *ngIf="progress > 0">
                {{progress}}
            </span>
            <span class='upload'>
                {{message}}
            </span>
        </div>
        <div class="col-md-4">
            <button class='btn btn-info btn-block buttonStyle' type="submit" 
            [disabled]='!service.formData.fileName'>Upload File</button>
            <button class='btn btn-success btn-block buttonStyle' type="button" 
            [disabled]='!service.formData.fileName' (click)='onCleanForm()'>Clean</button>
        </div>
       </div>
    </div> 
</form>
