.upload {
  font-weight: blod;
  color: #28a745;
  margin-left: 15px;
  line-height: 36px;
}

.selectedButton {
  width: 8em;
}

.buttonStyle {
  margin: 1px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #e9ecef;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 8em;
  height: 2em;
  line-height: 2;
  background: #e9ecef;
  overflow: hidden;
  border-radius: 0.25em;
  margin: 4px;
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: #212529;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
