<div class="jumbotron">
    <h1 class="display-4 text-center">
        Welcome to File storage
    </h1>
</div>
<div class="row">
    <div class="col-md-6">
        <app-file-details-form></app-file-details-form>
    </div>
    <div class="col-md-6">
        <span>List of files</span>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>File Name</th>
                    <th>File Size</th>
                    <th>Upload date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let f of service.list'>
                    <td>{{f.fileName}}</td>
                    <td>{{f.fileSize}}</td>
                    <td>{{f.fileDate}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(f.fileId)"></i>
                    </td>
                </tr>
            </tbody>    
        </table>
    </div>
</div>


